<a href="https://colab.research.google.com/github/shikhakalva/shikha/blob/main/kalvashikha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("shikha")
neha=["how you doin?", "shikha", 12,34,3.5]
print(neha)
neha.append(69)
print(neha)
neha.extend([23,45,67])
print(neha)
neha.reverse()
print(neha)
neha.remove(69)
print(neha)

shikha
['how you doin?', 'shikha', 12, 34, 3.5]
['how you doin?', 'shikha', 12, 34, 3.5, 69]
['how you doin?', 'shikha', 12, 34, 3.5, 69, 23, 45, 67]
[67, 45, 23, 69, 3.5, 34, 12, 'shikha', 'how you doin?']
[67, 45, 23, 3.5, 34, 12, 'shikha', 'how you doin?']

In [2]:
shikha=[12,45,69,0,12,3]
print(shikha)
shikha.sort()
print(shikha)

[12, 45, 69, 0, 12, 3]
[0, 3, 12, 12, 45, 69]

In [4]:
MySet=set("banana")
print('a' in MySet)
print('n' not in MySet)

True
False

In [6]:
A={2,4,7,9}
B={1,3,6,8}
print('Union              = ', A | B)
print('Intersection       = ', A & B)
print('Difference         = ', A - B)
print('Symmentric Diff    = ', A ^ B)

Union              =  {1, 2, 3, 4, 6, 7, 8, 9}
Intersection       =  set()
Difference         =  {9, 2, 4, 7}
Symmentric Diff    =  {1, 2, 3, 4, 6, 7, 8, 9}

In [10]:
number = {1,2,3,4,5,6,7,8,9,10}
odd    = {1,3,5,7,9}
even   = {2,4,6,8,10}
print(odd.isdisjoint(even))
print(number.issuperset(odd))
print(odd.issuperset(number))
print(odd.issubset(number))

True
True
False
True

In [11]:
StudentList=['mahesh babu','allu arjun','NTR','samantha','kajal','vijay','rakul']
PlacedStudentList=["samantha","kajal","rakul"]
notPlacedStudentList=set(StudentList)-set(PlacedStudentList)
print("Student yet to get a job \n", notPlacedStudentList)

Student yet to get a job
 {'mahesh babu', 'NTR', 'allu arjun', 'vijay'}